doctype html
html(lang="en")
	head
		title.
			BaiBan
		script(src="/socket.io/socket.io.js")
		script(src="http://code.jquery.com/jquery-1.10.1.min.js")

		script(type='text/javascript').
			var socket = io.connect('http://baiban.jiukun.us');
			socket.on('update', function(message){	
				$('#ban-content').val(message);
			});

			$(function () {	 
				var typingTimer;
				$('#ban-content').bind('input propertychange', function(){
					clearTimeout(typingTimer);
					typingTimer = setTimeout(function(){
						socket.emit('commit', { data: $("#ban-content").val() });
					}, 700);
				});
			});
	body
		textarea#ban-content(rows='25', cols='100')