doctype html
html(lang="en")
    head
        title.
            BaiBan-#{roomName}
        script(src="/socket.io/socket.io.js")
        script(src="javascripts/jquery-1.10.1.min.js")
        script(src="javascripts/mousetrap.min.js")
        script(src="javascripts/mousetrap-global-bind.min.js")
        link(rel="stylesheet", href="stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheets/style.css")
        script(type='text/javascript').
            var roomName = $(".title").text();
            var socket = io.connect('http://baiban.herokuapp.com');
            socket.on('connect', function (data) {
                 socket.emit('join room', roomName );
            });

            socket.on('update', function(message){
                $('#ban-content').val(message);
            });

            $(function () {
                var typingTimer;
                $('#ban-content').bind('input propertychange', function(){
                    clearTimeout(typingTimer);
                    typingTimer = setTimeout(function(){
                        socket.emit('commit', { data: $("#ban-content").val(), room: roomName });
                    }, 700);
                });
            });

            function saveMessage(e){
                if (e.preventDefault) {
                    e.preventDefault();
                } else {
                    // internet explorer
                    e.returnValue = false;
                }
                socket.emit('saveMessage', { data: $("#ban-content").val(), roomName: roomName });
            }

            Mousetrap.bindGlobal('command+s', function(e) {
                $(".alert").fadeIn(1000);
                $(".alert").fadeOut(1000);
                saveMessage(e);
            });

            Mousetrap.bindGlobal('ctrl+s', function(e) {
                $(".alert").fadeIn(1000);
                $(".alert").fadeOut(1000);
                saveMessage(e);
            });
    body
        h1.title.
            #{roomName}
        #page-content
            .promp.
                Command+S | Ctrl+S For Saving Your Message.
            .alert.alert-success
                strong Save Successfully!
            textarea#ban-content.form-control(rows='25')
            
